<html>
    <head> 
        <title>Script Writer</title> 
        <meta charset="utf-8"> 
    </head>


    <body bgcolor=#FFFFFF>

        <center>
        
        <br><br><br><br><br>
        <h2 style="font-family: 'Nanum Gothic', sans-serif;"> 
            아래의 정보를 입력하면 스크립트가 작성됩니다! 
         </h2>

         <br><br><br><br><br><br><br><br>

        <form method="GET", action="{{url_for('write_script')}}">
           <b style="font-family: 'Nanum Gothic', sans-serif;"> 
            File Type :  </b> 
                         <input type="radio", name='file_type', value="TS">TS 
                         <input type="radio", name='file_type', value="NM">NM 
                         <br><br>
            <b style="font-family: 'Nanum Gothic', sans-serif;"> 
            Language pair : </b>
            <select name='lang_pair'>
                <option value="de_DE-en_GB">de_DE-en_GB</option>
                <option value="en_US-ar_AE">en_US-ar_AE</option>
                <option value="en_US-ko_KR">en_US-ko_KR</option>
                <option value="en_US-tr_TR">en_US-tr_TR</option>
                <option value="en_US-vi_VN">en_US-vi_VN</option>
                <option value="es_ES-en_GB">es_ES-en_GB</option>
                <option value="ja_JP-ko_KR">ja_JP-ko_KR</option>
                <option value="ko_KR-en_US">ko_KR-en_US</option>
                <option value="ru_RU-en_GB">ru_RU-en_GB</option>
                <option value="tr_TR-en_US">tr_TR-en_US</option>
                <option value="vi_VN-en_US">vi_VN-en_US</option>
                <option value="zh_CN-en_GB">zh_CN-en_GB</option>
                <option value="en_US-th_TH">en_US-th_TH</option>
                <option value="th_TH-en_US">th_TH-en_US</option>
                <option value="zh_CN-en_US">zh_CN-en_US</option>
                <option value="en_US-ru_RU">en_US-ru_RU</option>
                <option value="ja_JP-en_US">ja_JP-en_US</option>
            </select> <br><br>
            <b style="font-family: 'Nanum Gothic', sans-serif;"> 
            Token : </b>
                    <input type="radio", name='token', value="Word">Word 
                    <input type="radio", name='token', value="Character">Character 
                    <br><br>
            <b style="font-family: 'Nanum Gothic', sans-serif;"> 
            Volume (숫자를 입력하세요) : </b>
                    <input type="text", name='volume', placeholder="1,500"> <br><br>
            <b style="font-family: 'Nanum Gothic', sans-serif;"> 
            Unit price (숫자를 입력하세요) : </b>
                    <input type="text", name='unit_price', placeholder="0.01"> <br><br>
            <b style="font-family: 'Nanum Gothic', sans-serif;"> 
            Deadline (작업 마감 기한을 입력하세요) : </b>
                    <input type="text", name='deadline', placeholder="yyyy/mm/dd"> <br><br>
            <b style="font-family: 'Nanum Gothic', sans-serif;"> 
            Reply Deadline (작업 의사 답장 기한을 입력하세요) : </b>
                    <input type="text", name='reply_deadline', placeholder="yyyy/mm/dd"> <br><br>
            <b style="font-family: 'Nanum Gothic', sans-serif;"> 
            담당 PM (영문 이름을 입력하세요) : </b>
                    <input type="text", name='pm', placeholder="Gildong Hong"> <br><br>
            <br><br><br><br><br>
            <input style="font-family: 'Nanum Gothic', sans-serif;", type="submit", value='스크립트 작성하기'>
        </form>

        
    </center>

    </body>
</html>